<a href="javascript:void(0)" class="btn bg-transparent text-success" data-toggle="modal" data-target="#Register">Register</a>
<a href="javascript:void(0)" class="btn bg-transparent text-success" data-toggle="modal" data-target="#Login">Login</a>
<a href="javascript:void(0)" class="btn bg-transparent text-success" data-toggle="modal" data-target="#forgotpassword">Forgot Password</a>
<a href="javascript:void(0)" class="btn bg-transparent text-success" data-toggle="modal" data-target="#changepassword">Change Password</a>

<div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerform" action="Account/Register">
                    <div class="form-group">
                        <label for="nik" class="col-form-label">NIK</label>
                        <input type="text" class="form-control" id="nik" name="nik">
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname">
                    </div>

                    <div class="form-group">
                        <label for="birthdate" class="col-form-label">BirthDate</label>
                        <input type="text" class="form-control" id="birthdate" name="birthdate">
                    </div>
                    <div class="form-group">
                        <label for="marriedstatus" class="col-form-label">Married Status</label>
                        <select id="marriedstatus" class="form-control" name="marriedstatus">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widower">Widower</option>
                            <option value="Widow">Widow</option>
                        </select>
                    </div>
                    <div class="form-group" hidden>
                        <label for="quota" class="col-form-label">Quota</label>
                        <input type="text" class="form-control" id="quota" name="quota">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">PhoneNumber</label>
                        <input type="text" class="form-control" id="phonenumber" name="phonenumber">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-form-label">Gender</label>
                        <select id="gender" class="form-control" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-form-label">Position</label>
                        <select id="position" class="form-control" name="position">
                            <option value="Application Developer">Application Developer</option>
                            <option value="Backend Develope">Backend Developer</option>
                            <option value=" Frontend Developer">Frontend Developer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address">
                    </div>
                    <div class="form-group" hidden>
                        <label for="name" class="col-form-label">RoleId</label>
                        <input type="text" class="form-control" id="roleid" name="roleid">
                    </div>
                    @*<div class="form-group">
                            <label for="userid" class="col-form-label">User Id</label>
                            @Html.DropDownList("Username",
                                    new SelectList(Enumerable.Empty<SelectListItem>(), "userid", "username"),
                                    new { @class = "form-control", @onchange = "FillCustomer()" })
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Submit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerform" action="Account/ForgotPassword">
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailforgot" name="emailforgot">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ForgotPassword()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerform" action="Account/ChangePassword">
                    <div class="form-group">
                        <label for="nik" class="col-form-label">NIK</label>
                        <input type="text" class="form-control" id="NIK" name="NIK">
                    </div>
                    <div class="form-group">
                        <label for="oldpassword" class="col-form-label">Old Password</label>
                        <input type="text" class="form-control" id="oldpassword" name="oldpassword">
                    </div>
                    <div class="form-group">
                        <label for="newpassword" class="col-form-label">New Password</label>
                        <input type="text" class="form-control" id="newpassword" name="newpassword">
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword" class="col-form-label">Confirm Password</label>
                        <input type="text" class="form-control" id="confirmpassword" name="confirmpassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ChangePassword()">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="roleform" action="Auth/Login">
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emaillogin" name="emaillogin">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="text" class="form-control" id="passwordlogin" name="passwordlogin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Login()">Submit</button>
            </div>
        </div>
    </div>
</div>


<script>
    function Submit() {
        var User = new Object();
        User.Nik = $("#nik").val();
        User.Firstname = $("#firstname").val();
        User.Lastname = $("#lastname").val();
        User.BirthDate = $("#birthdate").val();
        User.Gender = $("#gender").val();
        User.MarriedStatus = $("#marriedstatus").val();
        User.Position = $("#position").val();
        User.Address = $("#address").val();
        User.Quota = $("#quota").val();
        User.PhoneNumber = $("#phonenumber").val();
        User.Email = $("#email").val();
        @*User.UserId = $("#userid").val();*@
        $.ajax({
            type: 'post',
            url: '/authentication/register',
            data: User
        }).done((result) => {
            console.log(result);
            if (result == 200) {
                alert("Successed to Add Data!");
            }
        }).fail((result) => {
            console.log(result);
            alert("Failed to Add Data!");
        })
    }

    function Login() {
        var Login = new Object();
        Login.Email = $("#emaillogin").val();
        Login.Password = $("#passwordlogin").val();
        console.log(Login);
        $.ajax({
            type: 'post',
            url: '/authentication/login',
            data: Login
        }).done((result) => {
            console.log(result);
            if (result == 200) {
                alert("Successed to Login");
                window.location.href = "https://localhost:44346/login";
            }
            else {
                alert("Failed to Login");
                window.location.href = "https://localhost:44346/login";
            }
        }).fail((result) => {
            console.log(result);
            if (result != 200) {
                alert("Failed to Login");
                window.location.href = "https://localhost:44346/login";
            }
        })
    }

    function ForgotPassword() {
        var User = new Object();
        User.Email = $("#emailforgot").val();
        $.ajax({
            type: 'PUT',
            url: '/authentication/ForgotPassword',
            data: User
        }).done((result) => {
            if (result == 200) {
                alert("Check Your Email for New Password!");
            }
        }).fail((result) => {
            console.log(result);
            alert("Failed to Send Email!");
        })
    }

    function ChangePassword() {
        var Account = new Object();
        Account.NIK = $("#NIK").val();
        Account.NewPassword = $("#newpassword").val();
        Account.OldPassword = $("#oldpassword").val();
        Account.ConfirmPassword = $("#confirmpassword").val();
        $.ajax({
            type: 'PUT',
            url: '/authentication/ChangePassword',
            data: Account
        }).done((result) => {
            if (result == 200) {
                alert("Your Password has been Changed!");
            }
        }).fail((result) => {
            console.log(result);
            alert("Can Not Change Your Password");
        })
    }
</script>