@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="wrapper">
    <section class="content-header">
        <!-- Horizontal Form -->
        <div class="container">
            <div class="row my-5">
                <div class="col-sm-12 text-center">
                    <h1>Ticketing Support Helpdesk Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <form class="needs-validation" novalidate>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Login</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->

                            <div class="card-body">
                                <div class="form-row mb-3" id="loginEmail">
                                    <label for="loginEmail" class="col-sm-3 col-form-label">Email</label>
<<<<<<< HEAD
                                    <input type="email" id="emailLogin" class="form-control col-sm-9" placeholder="Ex. john.smith@gmail.com" name="loginEmail" required>
=======
                                    <input type="email" class="form-control col-sm-9" placeholder="Ex. john.smith@gmail.com" name="loginEmail" required>
>>>>>>> 877e21e73fe1e41d95b83f38d8a00f8a95857098
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Please provide an email correctly.
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-row" id="loginPasword">
                                    <label for="loginPassword" class="col-sm-3 col-form-label">Password</label>
<<<<<<< HEAD
                                    <input type="password"  id="passwordLogin" class="form-control col-sm-9" placeholder="Password here..." name="loginPassword" minlength="6" maxlength="12" required>
=======
                                    <input type="password" class="form-control col-sm-9" placeholder="Password here..." name="loginPassword" minlength="6" maxlength="12" required>
>>>>>>> 877e21e73fe1e41d95b83f38d8a00f8a95857098
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Password less then 6.
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
<<<<<<< HEAD
                                <button type="submit"  class="btn btn-info float-right" onclick="Login()">Sign in</button>
=======
                                <a  asp-area="" asp-controller="Home" asp-action="Index">Sign In</a>
                                <button href="" type="submit" class="btn btn-info float-right">Sign in</button>
>>>>>>> 877e21e73fe1e41d95b83f38d8a00f8a95857098
                            </div>
                            <!-- /.card-footer -->

                        </div>
                    </form>
                    <div class="row mt-2">
                        <div class="btn col-sm-6 text-left">
                            <a onclick="ModalFlow('forgot')" id="forgotPassword" data-toggle="modal" data-target="#exampleModalCenter">
                                Forgot Password ?
                            </a>
                        </div>
                        <div class="btn col-sm-6 text-right">
                            <a onclick="ModalFlow('register')" id="register" data-toggle="modal" data-target="#exampleModalCenter">
                                Click to register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">

            </div>

        </div>
    </section>
    <!-- /section -->
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation modal-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card-body">
                                <div class="form-row mb-3" id="registerName">
                                    <label for="registerName" class="col-sm-3 col-form-label">Name</label>
                                    <input type="text" class="form-control col-sm-9" id="name" placeholder="Ex. John Smith" name="registerName" required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        please input your name
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3" id="registerEmail">
                                    <label for="registerEmail" class="col-sm-3 col-form-label">Email</label>
                                    <input type="email" class="form-control col-sm-9" id="email" placeholder="Ex. john.smith@gmail.com" name="registerEmail" required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Please provide an email correctly.
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3" id="registerPassword">
                                    <label for="registerPassword" class="col-sm-3 col-form-label">Password</label>
                                    <input type="password" class="form-control col-sm-9" id="password" placeholder="more than 6 | less then 13" name="registerPassword" min="6" max="12" required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        password less then 6
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3" id="registerDate">
                                    <label for="registerDate" class="col-sm-3 col-form-label">Birthdate</label>
                                    <input type="date" class="form-control col-sm-9" id="date" name="registerDate" min="1980-01-01" max="2021-12-31" data-provide="datepicker" data-date-format="dd/mm/yyyy" required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Please provide a date correctly.
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row mb-3" id="registerPhone">
                                    <label for="registerPhone" class="col-sm-3 col-form-label">Phone</label>
                                    <input type="number" class="form-control col-sm-9" id="phone" name="registerPhone" placeholder="input phone number here..." required>
                                    <div class="invalid-feedback col-sm-9 offset-3">
                                        Please provide a phone number correctly.
                                    </div>
                                    <div class="valid-feedback col-sm-9 offset-3">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="form-row" id="registerGender">
                                    <label for="registerGender" class="col-sm-4 col-form-label">Gender</label>
                                    <div class="custom-control custom-radio col-sm-2" style="margin-top: 10px">
                                        <input type="radio" class="custom-control-input" id="genderFemale" name="registerGender" required>
                                        <label class="custom-control-label" value="male" for="genderFemale">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio col-sm-2" style="margin-top: 10px">
                                        <input type="radio" class="custom-control-input" id="genderMale" name="registerGender" required>
                                        <label class="custom-control-label" value="female" for="genderMale">Female</label>
                                    </div>
                                    <div class="invalid-feedback">Choose a gender</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="buttonModal">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#exampleModalCenter').on('hidden.bs.modal', function () {
                ModalClear();
                //remove validation modal is closed
                ClearValidation();
            });

            FormValidation();
        });

        var ClearValidation = () => {
            var forms = document.getElementsByClassName('needs-validation modal-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.classList.remove('was-validated');
            });
        }
        var FormValidation = () => {
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }

        // clear modal
        var ModalClear = () => {
            $('#name').val("");
            $('#email').val("");
            $('#password').val("");
            $('#phone').val("");
            $('#date').val("");
            $('#genderMale').prop("checked", false);
            $('#genderFemale').prop("checked", false);
        }

<<<<<<< HEAD
       function Login() {
        var Login = new Object();
        Login.Email = $("#emailLogin").val();
        Login.Password = $("#passwordLogin").val();
        console.log(Login);
            $.ajax({
                type: 'POST',
                url: '/Authentication/Login',
                data: Login
            }).done((result) => {
                console.log("ok");
                //console.log(result);
                if (result == 200) {
                    alert("Successed to Login");

                    window.location.href = "https://localhost:44346/Home/";
                }
                else {
                    alert("Cannot Login");
                }
            }).fail((result) => {
                //console.log(result);
                if (result != 200) {
                    alert("Failed to Login");
                }
            })
        }


                function Submit() {
                var User = new Object();
                User.Nik = $("#nik").val();
                User.Firstname = $("#firstname").val();
                User.Lastname = $("#lastname").val();
                User.BirthDate = $("#birthdate").val();
                User.Gender = $("#gender").val();
                User.MarriedStatus = $("#marriedstatus").val();
                User.Position = $("#position").val();
                User.Address = $("#address").val();
                User.Quota = $("#quota").val();
                User.PhoneNumber = $("#phonenumber").val();
                User.Email = $("#email").val();
                $.ajax({
                    type: 'post',
                    url: '/authentication/register',
                    data: User
                }).done((result) => {
                    console.log(result);
                    if (result == 200) {
                        alert("Successed to Add Data!");
                        $('#Register').modal('hide');
                        $("#firstname").val(null);
                        $("#lastname").val(null);
                        $("#birthdate").val(null);
                        $("#gender").val(null);
                        $("#marriedstatus").val(null);
                        $("#position").val(null);
                        $("#address").val(null);
                        $("#quota").val(null);
                        $("#phonenumber").val(null);
                        $("#email").val(null);
                    }
                }).fail((result) => {
                    console.log(result);
                    alert("Failed to Add Data!");
                })
            }
                    //var ModalFlow = state => {
            //    switch (state) {
            //        case "forgot":
            //            $('#exampleModalLongTitle').text("Forgot Password");
            //            $('#buttonModal').text("Send Email");
            //            $('#registerName').hide();
            //            $('#registerPassword').hide();
            //            $('#registerPhone').hide();
            //            $('#registerGender').hide();
            //            $('#registerPhone').hide();
            //            $('#registerDate').hide();
            //            break;
            //        case "register":
            //            $('#exampleModalLongTitle').text("Register");
            //            $('#buttonModal').text("Register");
            //            $('#registerName').show();
            //            $('#registerPassword').show();
            //            $('#registerPhone').show();
            //            $('#registerGender').show();
            //            $('#registerPhone').show();
            //            $('#registerDate').show();
            //            break;
            //        default:
            //        // code block
            //    }
            //}


    </script>
    <script>
=======
        var ModalFlow = state => {
            switch (state) {
                case "forgot":
                    $('#exampleModalLongTitle').text("Forgot Password");
                    $('#buttonModal').text("Send Email");
                    $('#registerName').hide();
                    $('#registerPassword').hide();
                    $('#registerPhone').hide();
                    $('#registerGender').hide();
                    $('#registerPhone').hide();
                    $('#registerDate').hide();
                    break;
                case "register":
                    $('#exampleModalLongTitle').text("Register");
                    $('#buttonModal').text("Register");
                    $('#registerName').show();
                    $('#registerPassword').show();
                    $('#registerPhone').show();
                    $('#registerGender').show();
                    $('#registerPhone').show();
                    $('#registerDate').show();
                    break;
                default:
                // code block
            }
        }


    </script>
    @*<script>
>>>>>>> 877e21e73fe1e41d95b83f38d8a00f8a95857098
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
<<<<<<< HEAD
                            //if (form.checkValidity() === false) {
                               event.preventDefault();
                                event.stopPropagation();
                            //}
                            //form.classList.add('was-validated');
=======
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
>>>>>>> 877e21e73fe1e41d95b83f38d8a00f8a95857098
                        }, false);
                    });
                }, false);
            })();
<<<<<<< HEAD
        </script>
=======
        </script>*@
>>>>>>> 877e21e73fe1e41d95b83f38d8a00f8a95857098
}